              <div class="card rounded-4 shadow">
                <div class="card-body p-5">
                  <h2 class="mb-4">預約紀錄</h2>
                  <div class="row text-center gap-4 mb-5">
                    <div class="col w-100 py-4 border rounded-4 d-none d-md-block">
                      <h3 class="text-primary mb-8">3</h3>
                      <p class="text-secondary">已完成諮詢</p>
                    </div>
                    <div class="col w-100 py-4 border rounded-4">
                      <h3 class="text-primary mb-8">2025/10/10</h3>
                      <p class="text-secondary">即將到來</p>
                    </div>
                    <div class="col w-100 py-4 border rounded-4 d-none d-md-block">
                      <h3 class="text-primary mb-8">3/6</h3>
                      <p class="text-secondary">使用方案進度</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between mb-4">
                    <div class="d-flex">
                      <button type="button" class="btn btn-dark rounded-4 py-2 px-3 me-2">全部預約</button>
                      <button type="button" class="btn btn-light border rounded-4 py-2 px-3 me-2">已完成</button>
                      <button type="button" class="btn btn-light border rounded-4 py-2 px-3 me-2">已取消</button>
                    </div>
                    <div class="dropdown">
                      <button class="btn border rounded-4 py-2 px-3" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        排序
                        <span class="material-symbols-outlined align-bottom">
                          filter_list
                        </span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">新到舊</a></li>
                        <li><a class="dropdown-item" href="#">舊到新</a></li>
                      </ul>
                    </div>
                  </div>
                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">諮詢方案</th>
                        <th scope="col">預約日期</th>
                        <th scope="col">諮詢時長</th>
                        <th scope="col">諮詢方式</th>
                        <th scope="col">上課狀態</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">職涯定位-職涯探索包 | 6/6堂</th>
                        <td>2025/11/11</td>
                        <td>60分鐘</td>
                        <td>
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            視訊
                          </span>
                        </td>
                        <td>等待上課</td>
                      </tr>
                      <tr>
                        <th scope="row">職涯定位-職涯探索包 | 5/6堂</th>
                        <td>2025/10/10</td>
                        <td>60分鐘</td>
                        <td>
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            視訊
                          </span>
                        </td>
                        <td>等待上課</td>
                      </tr>
                      <tr>
                        <th class="text-secondary" scope="row">職涯定位-職涯探索包 | 4/6堂</th>
                        <td class="text-secondary">2025/09/09</td>
                        <td class="text-secondary">60分鐘</td>
                        <td class="text-secondary">
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            視訊
                          </span>
                        </td>
                        <td class="text-secondary">已完成</td>
                      </tr>
                      <tr>
                        <th class="text-secondary" scope="row">職涯定位-職涯探索包 | 3/6堂</th>
                        <td class="text-secondary">2025/08/08</td>
                        <td class="text-secondary">60分鐘</td>
                        <td class="text-secondary">
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            面對面
                          </span>
                        </td>
                        <td class="text-secondary">已完成</td>
                      </tr>
                      <tr>
                        <th class="text-secondary" scope="row">職涯定位-職涯探索包 | 2/6堂</th>
                        <td class="text-secondary">2025/07/07</td>
                        <td class="text-secondary">60分鐘</td>
                        <td class="text-secondary">
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            面對面
                          </span>
                        </td>
                        <td class="text-secondary">已完成</td>
                      </tr>
                      <tr>
                        <th class="text-secondary" scope="row">職涯定位-職涯探索包 | 1/6堂</th>
                        <td class="text-secondary">2025/06/06</td>
                        <td class="text-secondary">90分鐘</td>
                        <td class="text-secondary">
                          <span class="badge text-bg-light border rounded-pill px-2 py-1">
                            面對面
                          </span>
                        </td>
                        <td class="text-secondary">已完成</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>